<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodaScriptPlugIn</string>
	<key>CFBundleIconFile</key>
	<string>plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>com.panic.CodaScriptPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>3</string>
	<key>NSPrincipalClass</key>
	<string>CodaScriptPlugIn</string>
	<key>commands</key>
	<array>
		<dict>
			<key>fallbackInput</key>
			<string>word</string>
			<key>input</key>
			<string>none</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>View Tumblr theme docs</string>
			<key>output</key>
			<string>discard</string>
			<key>script</key>
			<string>script</string>
			<key>uuid</key>
			<string>E2A55C14-E343-4592-B85B-BDA5C6F270DF</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>word</string>
			<key>input</key>
			<string>none</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>View Tumblr Staff Blog</string>
			<key>output</key>
			<string>discard</string>
			<key>script</key>
			<string>script</string>
			<key>uuid</key>
			<string>2C181AEA-C0D4-4EEA-84CD-5D3972AB637D</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>fallbackInput</key>
					<string>word</string>
					<key>input</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Help: Twitter integration example</string>
					<key>output</key>
					<string>discard</string>
					<key>script</key>
					<string>script</string>
					<key>uuid</key>
					<string>BCE16072-291A-4821-A22A-32D330A9AADA</string>
				</dict>
			</array>
			<key>name</key>
			<string>Twitter</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>fallbackInput</key>
					<string>word</string>
					<key>input</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Help: How to use Variable Transformations</string>
					<key>output</key>
					<string>discard</string>
					<key>script</key>
					<string>script</string>
					<key>uuid</key>
					<string>914202C6-0B0B-4E72-B437-A8CFB05F783C</string>
				</dict>
			</array>
			<key>name</key>
			<string>Variable Transformations</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>fallbackInput</key>
					<string>word</string>
					<key>input</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Add Disqus Comments</string>
					<key>output</key>
					<string>discard</string>
					<key>script</key>
					<string>script</string>
					<key>uuid</key>
					<string>A4B3AE1F-D10D-4F9B-BED0-7EB73541A994</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>word</string>
					<key>input</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Add Streampad player</string>
					<key>output</key>
					<string>discard</string>
					<key>script</key>
					<string>script</string>
					<key>uuid</key>
					<string>F43E0BFE-1683-48D1-A14E-92FBB531CC40</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>word</string>
					<key>input</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Generate a Tumblr Counter</string>
					<key>output</key>
					<string>discard</string>
					<key>script</key>
					<string>script</string>
					<key>uuid</key>
					<string>125F9111-E98A-4FB8-93F2-AACC80161236</string>
				</dict>
			</array>
			<key>name</key>
			<string>Other Tools</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>word</string>
			<key>input</key>
			<string>none</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Upload a static file</string>
			<key>output</key>
			<string>discard</string>
			<key>script</key>
			<string>script</string>
			<key>uuid</key>
			<string>B32EFF5E-1753-49EF-B5AE-1E1F5ED71AC3</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>word</string>
			<key>input</key>
			<string>document</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Copy and Submit theme</string>
			<key>output</key>
			<string>discard</string>
			<key>preprocess</key>
			<string>save</string>
			<key>script</key>
			<string>script</string>
			<key>uuid</key>
			<string>265BC162-DEE8-46E8-A683-30304EAE2E18</string>
		</dict>
	</array>
</dict>
</plist>
